#### Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a = "This is a string"
b = [1,2,3,4,5,6]
c = 3.14
d = (1,2,3,4,5)

#### Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [6]:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

#### Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [7]:
var1 = 4
var2 = 2

print(var1 / var2)
print(var1 % var2)
print(var1 // var2)
print(var1 ** var2)

2.0
0
2
16

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [8]:
l = [1, 2, 3.14, 'python', 'this', [1,2,3], (1,2,3,4), 123, 'test', [4,5,6,'hello']]

for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3.14 <class 'float'>
python <class 'str'>
this <class 'str'>
[1, 2, 3] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
123 <class 'int'>
test <class 'str'>
[4, 5, 6, 'hello'] <class 'list'>

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [1]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

if B == 0:
    print("Division by zero is not allowed.")
else:
    count = 0
    while A % B == 0:
        A = A // B
        count += 1
    
    if count > 0:
        print(f"The number is purely divisible {count} times.")
    else:
        print("The number is not purely divisible by B.")

The number is purely divisible 2 times.

#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [2]:
numbers = [i for i in range(1, 26)]

for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3.")
    else:
        print(f"{number} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [5]:
# Mutable
var2 = [1,2,3,4]
var2[0] = 2
print("Mutable:",var2)

# Immutable
var1 = "Hello"
var1[0] = "T" 
print(var1)

Mutable: [2, 2, 3, 4]

TypeError: 'str' object does not support item assignment